:root {
  overscroll-behavior: none;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  overflow: hidden !important;
}

#root {
  max-width: 800px;
  max-height: 600px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
